:root{
  --background-color: white;
  --text-color: black;
  --Black-bg: #12121296;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  text-align: center;
}
/*seteo general footer, comparte estilos con el module*/
footer {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-content: center;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 10%;
  margin-top: 3rem;
}
.defaultBgFooter{
  background-color: #DC3545;
}

footer>img {
  width: 200px;
  margin: 0;
}
/*acá finaliza*/

form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 auto;
  height: 100vh;
}


.dark {
  background-color: var(--background-color);
  color: var(--text-color);
}

.dark>a {
  color: var(--text-color);
}
